
html, body {
    margin:0;border:0;padding:0;
    font-size:16px;
    overflow-x:hidden;
    position: relative;
    vertical-align: baseline;
  }
  
  html {
      -webkit-font-smoothing: antialiased;
  }
  
  h1 {font-size:40px;}
  h2 {font-size:36px;}
  h3 {font-size:30px;}
  h4 {font-size:24px;}
  h5 {font-size:20px;}
  h6 {font-size:18px;}
  
  h2 {
    padding-bottom: 14px;
  }
  
  .accent {
    line-height: 14px;
    color: #60A9F0;
  }
  
  .bold {
      font-weight: bold;
      margin: 0px auto;
  }
  
  .tm-border {
      border: 5px solid #fff;
      box-shadow: 2px 2px #000;
  }
  
  .shadow {
      text-shadow: 1px 1px #000;
  }
  
  .tm-title {
      color: #66CCFF;
  }

  .tm-title input {
    color: black;
  }
  
  .white {
    color: #fff;
  }

  .white input {
    color: black;
  }

  input {
    background: transparent;
  }

  /*wrapper*/
  .wrap-profile {
    width: 1000px;
    height: auto;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    overflow: auto;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 10px 0px 20px;
  }

  .profile-container {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: 0px auto;
  }

  
  /* header section */
  header {
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
  }
  header img {
    width: 400px;
    display: inline-block !important;
	  border-radius: 50%;
  }
  header h2 {
    padding-top: 40px;
  }
  header hr {
    border-color: #3366CC;
    width: 120px;
    margin: 30px auto 20px;
  }

  .edit-container {
    padding: 0px auto;
  }

  .edit-form {
    margin: 0px auto;
  }

  .edit-input {
    margin: 0px 0px 0px 225px;
  }

  .edit-input input{
    font-size: 30px;
  }

  .edit {
    width: 350px;
    height: auto;
    background: transparent;
    border-radius: 50px;
    overflow: auto;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto 0px;
    padding: 10px 10px 10px 20px;
  }


  .edit button {
    width: 100%;
    margin: 0px auto;
  }

  .edit p {
    width: 100%;
    min-width: 100%;
    margin: 0px auto;
    font-size: 20px;
  }

  .edit:hover p {
    color: aliceblue;
  }



  
  
  