



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('./fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('./fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('./fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('./fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
  
  /*---------------------------------------------*/
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: #57b846;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { color: #999999; }
  input:-moz-placeholder { color: #999999; }
  input::-moz-placeholder { color: #999999; }
  input:-ms-input-placeholder { color: #999999; }
  
  textarea::-webkit-input-placeholder { color: #999999; }
  textarea:-moz-placeholder { color: #999999; }
  textarea::-moz-placeholder { color: #999999; }
  textarea:-ms-input-placeholder { color: #999999; }
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  /*//////////////////////////
  MENU
  //////////////////////////*/
  #menu-wrapper {
      overflow: hidden;
      height: 90px;
  }

  #menu {
      width: auto;
      height: 55px;
      margin: 0px auto;
      padding: 0px;
  }

  menu ul {
      margin: 0;
      padding: 0px 0px 0px 0px;
      list-style: none;
      line-height: normal;
      text-align: center;
  }

  #menu li {
    display: inline-block;
    border-right: 1px solid #6F8651;
  }

  #menu button {
      display: block;
      letter-spacing: 1px;
      line-height: 0px;
      padding: 0 20px;
      text-decoration: none;
      text-align: center;
      font-size: 30px;
      font-weight: normal;
      color: #FFFFFF;
      border: none;
  }
  /*/////////////
  Post Page
  /////////////*/
  #wrapper {
    overflow: hidden;
    padding-bottom: 40px;
  }

  #page {
      overflow: hidden;
      width: 1000px;
      margin: 70px 50px 30px 50px;
  }

  #content {
      float: left;
      width: auto;
  }


  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  
  .txt3 {
    font-family: Poppins-Regular;
    font-size: 20px;
    line-height: 1.5;
    color: #666666;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  
  .container-background100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background: #afee4a;
    background: -webkit-linear-gradient(-135deg, #e4fa23, #40f708);
    background: -o-linear-gradient(-135deg, #e4fa23, #40f708);
    background: -moz-linear-gradient(-135deg, #e4fa23, #40f708);
    background: linear-gradient(-135deg, #e4fa23, #40f708);
  }


  .wrap-post100 {
    width: auto;
    height: 360px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
  }

  /*decoration for Posts.js*/
  .posts-overview {
    width: 720px;
    height: 320px;
  }

  .posts-picture {
    width: 320px;
    height: 320px;
  }

  .posts-userdata {
    width: 720px;
  }

  .posts-userdata img{
    width: 13%;
    height: 13%;
    float: left;
  }

  .posts-userdata div{
    width: 650px;
    height: 60px;
    float: center;
    text-align: left;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .posts-likeOrResponse{
    width: 720px;
    height: 90px;
  }

  .posts-likeOrResponse div{
    width: 150px;
    padding: 30px;
  }

  .posts-like{
    float: left;
  }

  .posts-response{
    float: left;
  }

  .posts-readmore{
    width: 720px;
    text-align: right;
  }

  /*------------------------------------------------------------------
  [ Button ]*/
  .main-button{
      margin: 20px 50px 20px 50px;
      flex-wrap: wrap;
      justify-content: center;
  }

  .main-button-text{
    font-family: Poppins-Regular;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
  }

  .container-login100-form-btn{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  
