



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('./fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('./fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('./fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('./fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
      overflow: auto;
  }
  
  /*---------------------------------------------*/
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: #57b846;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  


  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { color: #999999; }
  input:-moz-placeholder { color: #999999; }
  input::-moz-placeholder { color: #999999; }
  input:-ms-input-placeholder { color: #999999; }
  
  textarea::-webkit-input-placeholder { color: #999999; }
  textarea:-moz-placeholder { color: #999999; }
  textarea::-moz-placeholder { color: #999999; }
  textarea:-ms-input-placeholder { color: #999999; }
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  /*//////////////////////////
  MENU
  //////////////////////////*/
  #menu-wrapper {
      overflow: hidden;
      height: 90px;
      background: #afee4a;
      background: -webkit-linear-gradient(-135deg, #e4fa23, #40f708);
      background: -o-linear-gradient(-135deg, #e4fa23, #40f708);
      background: -moz-linear-gradient(-135deg, #e4fa23, #40f708);
      background: linear-gradient(-135deg, #e4fa23, #40f708);
      
  }

  #menu {
      width: auto;
      height: 55px;
      margin: 0 auto;
      padding: 0px;
      text-align: center;
  }

  menu ul {
      margin: 0 auto;
      padding: 0px 0px 0px 0px;
      list-style: none;
      line-height: normal;
      text-align: center;
  }

  #menu li {
    display: inline-block;
    border-right: 1px solid #6F8651;
    min-width: 200px;
    height: 90px;
    padding: 0;
  }

  #menu li img {
    margin: 10px 10px 20px 0px;
    max-height: 76px;
    max-width: 160px;
    display: inline-block;
    transition: 0.5s ease;
  }

  #menu button {
      display: inline-block;
      letter-spacing: 1px;
      line-height: 0px;
      padding: 0;
      text-decoration: none;
      text-align: center;
      font-size: 30px;
      font-weight: normal;
      color: #FFFFFF;
      border: none;
  }
  /*/////////////
  Post Page
  /////////////*/
  #wrapper {
    overflow: auto;
    padding-bottom: 40px;
  }

  #wrapper::-webkit-scrollbar {
    display: none;
}

  #page {
      overflow: scroll;
      width: 1000px;
      margin: 70px 50px 30px 50px;
  }

  #content {
      float: left;
      width: auto;
  }


  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  
  .txt3 {
    font-family: Poppins-Regular;
    font-size: 20px;
    line-height: 1.5;
    color: #666666;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  
  .container-background100-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background: #afee4a;
    background: -webkit-linear-gradient(-135deg, #e4fa23, #40f708);
    background: -o-linear-gradient(-135deg, #e4fa23, #40f708);
    background: -moz-linear-gradient(-135deg, #e4fa23, #40f708);
    background: linear-gradient(-135deg, #e4fa23, #40f708);
  }

  .container-background100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background: #f4ff53
  }


  
  /*------------------------------------------------------------------
  [ Button ]*/
  .main-button{
      margin: 20px auto;
      flex-wrap: wrap;
      justify-content: center;
  }

  .main-button-text{
    font-family: Poppins-Regular;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
  }

  .container-login100-form-btn{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }

  .main-button-li:hover{
    background: #f4ff53
  }
  li:hover .main-button-text {
    color: #40f708;
  }
