@charset "UTF-8";

/* Imgur Upload Style */

pre, body {
    font-family: 'Poppins-Regular';
}

body.loading .loading-modal {
    display: block
}

.App {
    width: 1000px;
    background: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.dropzone {
    border: 4px dashed #ccc;
    height: 200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
}

.info {
    margin-top: 11%;
}

.dropzone p {
    /*height: 100%;*/
    /*line-height: 200px;*/
    margin: 0%;
    text-align: center;
    width: 100%
}

.input {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%
}

.status {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image-url {
    width: 50%;
}

.dropzone.dropzone-dragging {
    border-color: #000
}

.loading-modal {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.loading-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.img {
    width: 100%;
}

.app::-webkit-scrollbar {
    display: none;
}

.add-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.add-label {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins-Regular';
    margin-top: 20px;
    margin-right: 20px;
}

.add-input {
    transition: all 0.6s;
}

.add-input:focus {
    border: solid 2px #333333;
    background: #e6e6e6;
}

.add-select {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #ccc;
    height: 40px;
    color: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0;
    padding-right: 30px;
    font-size: 18px;
    margin: 10px auto;
    font-family: 'Poppins-Regular';
}

.add-select option {
    color: #57b846;
    transition: all 0.6s;
}

.add-btn-container {
    margin: 20px auto 0 auto;
    text-align: center;
}

.add-submit-btn {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: #57b846;
    white-space: nowrap;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
  }
  
.add-submit-btn:hover {
    background: #333333;
  }
  

.add-uploadfile {
    display: transparent
}