/*decoration for PostsRender.js (for a single post)*/
body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
	overflow: auto;
}

.wrap-post1 {
	width: 1000px;
	height: auto;
	background: #fff;
	border-radius: 50px;
	overflow: hidden;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
}

.post-basic-data {
	width: 900px;
	height: auto;
	margin: 30px auto;
}

.post-picture {
	width: 900px;
	height:auto;
	margin: 0 auto;
}

.post-picture img {
	width: 100%;
}

.post-body {
	width: 900px;
	height:auto;
	margin: 30px auto 0px;
}

.post-response {
	width: 900px;
	height:auto;
	margin: 0 auto;
}

.post-comments {
	width: 900px;
	height:auto;
	margin: 0 auto 20px;
}

.post-userdata {
	width: auto;
	height: 100px;
}

.post-userdata img {
	width: auto;
	height: 100px;
	float: left;
}

.post-userdata div {
	width: auto;
	height: 100px;
	float: center;
	text-align: left;
	vertical-align: middle;
	padding-top: 35px;
}

.post-userdata h3 {
	font-weight: 600;
	font-size: 40px;
}

.post-restaurant p {
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 3px;
    color: #2F3640;
    text-shadow: 3px 3px #FEDC6B;
}

.post-time {
	margin-bottom: 0;
}


.post-body p {
	font-size: 30px;
	font-weight: 550;
}

.post-response {
	margin: 0 auto;
}

.post-response .post-like-number{
	float: left;
}

.post-response .post-comment-number{
	float: center;
}

.post-response .post-restaurant-info {
	float: right;
	font-size: 20px;
	font-weight: 600;
}

.post-response p {
	font-size: 20px;
}

.userfruit {
	background: transparent;
}


/*description for comments*/
.comment {
	background-color: rgb(233, 227, 227);
}

.comment-userdata {
	width: auto;
	height: 100px;
}

.comment-userdata img {
	width: auto;
	height: 100px;
	float: left;
}

.comment-userdata div {
	width: auto;
	height: 100px;
	float: center;
	text-align: left;
	vertical-align: middle;
	padding-top: 35px;
}

.comment-userdata div h3 {
	font-weight: 600;
}

.comment-userdata .date {
	margin-bottom: 30px;
	padding: 0px 30px 0px 30px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	float: right;
}



.comment .body {
	padding: 0px 30px 20px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #B3B3B3;
	text-align: justify;
}

.comment .body .word {
	font-size: 20px;
	font-weight: bold;
}

.comment .body .like {
	font-size: 15px;
	font-weight: bold;
	color: rgb(48, 173, 173);
}


.mycomment {
	background-color: rgb(233, 227, 227);
}

.mycomment-userdata {
	width: auto;
	height: 100px;
}

.mycomment-userdata img {
	width: auto;
	height: 100px;
	float: left;
}

.mycomment-userdata div {
	width: auto;
	height: 100px;
	float: center;
	text-align: left;
	vertical-align: middle;
	padding-top: 35px;
}

.mycomment-userdata div h3 {
	font-weight: 600;
}

.mycomment .body {
	padding: 0px 30px 20px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cac6c6;
	text-align: justify;
}

.mycomment .body .word {
	width: 85%;
	font-size: 20px;
	font-weight: bold;
	opacity: 70%;
}

.mycomment .submit {
	float: right;
	background: transparent;
	border-radius: 16px;
	border: solid 2px #686a6d;
}

.mycomment .submit:hover {
    background-color: rgb(13, 151, 243);
}

.mycomment .submit p {
    margin: 0px auto;
	font-size: 20px;
	color:#2F3640;
}

.mycomment .submit:hover p {
	color: aliceblue;
}
